<form class="form-horizontal" *ngIf="item">
    <div class="form-group">
        <label for="firstName" class="col-sm-2 control-label">First Name</label>
        <div class="col-sm-4">
            <p class="form-control-static">{{item.firstName}}</p>
        </div>
    </div>
    <div class="form-group">
        <label for="lastName" class="col-sm-2 control-label">Last Name</label>
        <div class="col-sm-4">
            <p class="form-control-static">{{item.lastName}}</p>
        </div>
    </div>
</form>